<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %> 
    <%= form.text_field :title, id: "article_title" %> 
  </div>

  <div>
    <%= form.label :body %> 
    <%= form.text_area :body, id: "article_body" %> 
  </div>

  <div>
    <%= form.label :active %> 
    <%= form.check_box :active, id: "article_active" %> 
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
